.audioPulse { display:flex; width:24px; justify-content:space-evenly; align-items:center; height:24px; }
.audioPulse > div { background:var(--muted); border-radius:1000px; width:4px; min-height:4px; transition:height var(--fast); }
.audioPulse.active > div { background:var(--accent); }
